@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/мусор/AmaticSC-Regular.ttf);
}
@font-face {
    font-family: 'AmaticSC-Regular';
    src: url(../fonts/мусор/AmaticSC-Regular.ttf);
}
@font-face {
    font-family: 'AmaticSC-Bold';
    src: url(../fonts/мусор/AmaticSC-Bold.ttf);
}
@font-face {
    font-family: 'PlayfairDisplay-Regular';
    src: url(../fonts/PlayfairDisplay-Regular.ttf);
}
